################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lokaverkefni_BlackJack/Lokaverkefni_BlackJack/bin/Debug
