################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lokaverkefni_BlackJack/Lokaverkefni_BlackJack/bin/Debug
/Lokaverkefni_BlackJack/Lokaverkefni_BlackJack/obj/Debug
/Lokaverkefni_BlackJack/.vs/Lokaverkefni_BlackJack/v14
